    body {
        min-height: 100vh;
        color: white;
        background-color: black;
    }

    .banner {
        background-color: rgb(98, 156, 156);
    }

    .content {
        background-color: gray;
    }

    .left {
        color: black;
    }

    .right {
        color: black;
    }